@charset "utf-8";
input:focus {
  outline: none;
}
.wrap {
  background: #f2f2f2;
}
.wrap .nav {
  width: 100%;
  margin-bottom: 30px!important;
  height: 67px;
  background: #333333;
}
.wrap .nav span {
  display: inline-block;
  margin-left: 145px!important;
  width: 143px;
  height: 52px;
  line-height: 67px;
  vertical-align: 5px;
}
.wrap .nav b {
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  border-left: 1px #cccccc solid;
  padding-left: 18px;
  line-height: 67px;
  font-weight: normal;
}
.wrap .nav-up .row {
  width: 960px;
  margin: 0 0 0 90px!important;
}
.wrap .nav-up .row span {
  display: inline-block;
  vertical-align: 5px;
  margin-left: 5px;
}
.wrap .nav-up .row .left {
  width: 146px;
  padding-left: 20px;
  height: 35px;
  background: #b40407;
  color: #ffffff;
  font-size: 16px;
  font-weight: border;
  margin: 0 50px 0 0!important;
}
.wrap .nav-up .row .left div {
  font-size: 1.5em;
  line-height: 35px;
}
.wrap .nav-up .row .center {
  width: 146px;
  padding-left: 20px;
  height: 35px;
  background: #333333;
  color: #ffffff;
  font-weight: border;
  font-size: 16px;
}
.wrap .nav-up .row .center div {
  font-size: 1.5em;
  line-height: 35px;
}
.wrap .nav-up .row .right {
  float: right;
  line-height: 35px;
}
.wrap .main-inner {
  width: 960px;
  background: #ffffff;
  height: 500px;
  margin: 0 auto!important;
}
.wrap .main-inner {
  padding-top: 30px;
}
.wrap .main-inner ul {
  width: 500px;
  margin: auto;
}
.wrap .main-inner ul .btn {
  display: block;
  margin: auto;
}
.wrap .main-inner > ul > li {
  margin: auto;
  list-style-type: none!important;
  display: block;
  width: 420px;
  height: 40px;
  margin-bottom: 20px;
}
.wrap .main-inner > ul > li input {
  display: inline-block;
  height: 40px;
  width: 295px;
  vertical-align: top;
  border: 1px solid  #d9d9d9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.wrap .main-inner > ul > li div {
  text-align: center;
  line-height: 40px;
  width: 123px;
  height: 40px;
  display: inline-block;
  border: 1px solid  #d9d9d9;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
